/* Общий контейнер и структура */
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #fff;
}

/* Шапка */
.header {
	background: linear-gradient(90deg, #bef1c3, #43d17e);
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Логотип */
.logo {
	width: 200px;
	height: auto;
	margin-bottom: -15px;
	margin-right: -35px;
}

/* Навигационная панель */
.nav-bar {
	display: flex;
	gap: 0px;
}

/* Кнопки навигации */
.nav-button {
	text-decoration: none;
	background-color: #2ecc71;
	color: white;
	padding: 10px 20px 15px;
	border-radius: 25px;
	font-size: 18px;
	font-weight: bold;
	transition: background 0.3s;
	vertical-align: center;
	height: 20px;
	margin-top: 55px;
	margin-right: 10px;
}

/* Ховер и активная кнопка */
.nav-button:hover,
.nav-button.active {
	background-color: #27ae60;
}

/* Основной контент */
main {
	flex: 1;
	padding: 20px;
	text-align: center;
}

/* Заголовок */
.title {
	font-size: 36px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
}

/* Контейнер для диаграммы */
.chart-container {
	max-width: 800px;
	margin: 0 auto 20px;
}

/* Кнопка для управления */
.manage-container {
	margin-top: 20px;
}

.manage-button {
	text-decoration: none;
	background-color: #199662;
	color: white;
	padding: 12px 24px;
	border-radius: 25px;
	font-size: 18px;
	font-weight: bold;
	transition: background 0.3s;
}

.manage-button:hover {
	background-color: #27ae60;
}

/* Футер */
.footer {
	background-color: #eee;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	color: #666;
}

/* Адаптивность для планшетов */
@media (max-width: 768px) {
	.nav-bar {
		flex-direction: column;
		gap: 10px;
	}

	.title {
		font-size: 28px;
	}

	.nav-button {
		margin-top: 10px;
	}
}

/* Адаптивность для телефонов */
@media (max-width: 480px) {
	.nav-button {
		font-size: 16px;
		padding: 8px 15px;
	}
}